@import './tokens.css';

.title {
  margin-block-end: var(--auth-form-title-spacing);
}

.formError {
  margin-block-end: var(--auth-form-field-spacing);
}

.fieldError {
}

.actionsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-1);
}

.footer {
  text-align: right;
}
