:root {
  --teal-600: #0a6c74;

  --slate-50: #f0f4f8;
  --slate-100: #d9e2ec;
  --slate-200: #c8d8e8;
  --slate-300: #bcccdc;

  --navy-800: #243b53;
  --navy-900: #102843;

  --red-100: #fde8e8;
  --red-700: #a61b1b;
  --red-900: #610404;

  --white: #fff;
}
