:root {
  --color-brand: var(--teal-600);
  --color-danger: var(--red-700);

  --color-error: var(--red-700);
  --color-error-bg: var(--red-100);
  --color-error-text: var(--red-700);

  --interactive-primary: var(--teal-600);
}
