:root {
  --main-bg: var(--surface-secondary);
  --card-bg: var(--surface-primary);
  --card-padding: var(--space-6);
  --card-padding-md: var(--space-4) var(--space-3);
  --card-padding-sm: var(--space-4) var(--space-1);
  --page-header-margin: var(--space-4) 0 var(--space-2) 0;
  --page-header-title-margin: 0.3125rem;
}
