.input {
  padding: var(--input-padding);
  background: var(--input-bg);
  color: inherit;
  font-size: var(--input-font-size);
  font-family: inherit;
  border: var(--input-border);
  line-height: inherit;
}

.input[aria-invalid="true"] {
  border: var(--input-border-error);
}

.input:focus-visible {
  outline: 3px solid var(--color-brand);
  outline-offset: 2px;
}
